/*===== Font Size===== */
.large {
  font-size: 2rem;
}
.medium {
  font-size: 1.6rem;
}
.small {
  font-size: 1.2rem;
}

/*===== Font Weight===== */
.bold {
  font-weight: 700;
}

/*===== Font Color===== */
.font-red {
  color: red;
}
.font-cyan {
  color: #59bcae;
}
.font-orange {
  color: orange;
}
.font-black {
  color: black;
}

/*===== Font Family===== */
.font-robot {
  font-family: 'Roboto';
}
