@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  background: white;
  font-family: 'Cinzel';
  font-weight: 400;
  font-size: 1.3rem;
}
p {
  margin: 5px;
}

.sidebar {
  right: 0;
  top: 0;
  position: sticky;
}

.selectors {
  display: flex;
  margin: 10px;
}

.card-img {
  width: 20%;
}
.card-img:hover {
  border: yellow 4px solid;
}

.input-area {
  display: flex;
}

.duplicate-error-msg {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.bold-700 {
  font-weight: 700;
}
.bold-900 {
  font-weight: 700;
}

.list-item {
  display: flex;
  margin: 5px;
  background: cyan;
  font-weight: 400;
}
.list-item-decklist:hover {
  font-weight: 900;
}
.list-item-cost {
  padding: 0px 3px 0px 3px;
  background: yellow;
  border-radius: 8px;
  font-weight: 700;
}
.list-item-name {
  margin: 3px;
}

.x-button {
  margin: 0 0 0 auto;
  border: none;
  cursor: pointer;
  background: cyan;
}

.x-button:active {
  background: cyan;
}
.x-button:focus {
  background: cyan;
}

.recomending-signup-msg {
  font-size: 25px;
  margin-top: 10px;
}

.ancher-select-deck {
  color: black;
}

.auth-box {
  margin: 0 auto;
  text-align: center;
  width: 50%;

  /* font-family: "Lora", serif; */
}

.input-box {
  width: 50%;
  margin: 0 auto;
}
.google-img {
  width: 50%;
}

.auth-title {
  font-weight: 700;
}
